h1, h2, h3{
color: #b5e853;
}
span {
    color: red;
}
body {
    min-width: 520px;
	background: #151515 url("../images/bkg.png") 0 0;
}
.column {
    width: 170px;
    float: left;
    padding-bottom: 100px;
        }
.portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
    height: 370px;
}
.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
    height: 120px;
    text-align: center;
}
.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}
.portlet-content {
    padding: 0.4em;
}
.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}